.active {
  background-color: $lightGrayishCyan !important;
  color: $veryDarkCyan !important;
}
.activeCustomPr {
    background-color: $lightGrayishCyan !important;
    border: 2px solid $strongCyan !important;
}
